<div class="row">
	<div class="form-group user-email col-sm-offset-3 col-sm-6">
	  <p class="text-center">Digite seu e-mail</p>
	  <input type="text" id="email" class="form-control">
	  <br />
	  <input type="submit" value="Visualizar" onClick="getTickets()" class="btn btn-primary center-block">
	</div>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2" id="responseTable">
	</div>
</div>
