<div class="form-group user-email">
  <p class="text-center">Digite seu e-mail</p>
  <input type="text" id="email" class="form-control">
  <br />
  <input type="submit" value="Visualizar" onClick="getTickets()" class="btn btn-primary center-block">
</div>

<div id="responseDiv">
</div>
