/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar{
  height: 240px !important;
  text-align: center;
  padding: 90px;
  margin-bottom: 0px !important;
}

.navbar-inverse{
  background-image: url('/barra.png');
}

p {
  font-family: "Lucida Console", Monaco, monospace !important;
}

.menu p, h1{
  font-family: "Verdana", Geneva, sans-serif !important;
}

.menu .title{
  font-size: 90px;
  padding-bottom: 35px;
}

.menu .subtitle{
  font-size: 30px;
  color: #f6b246;
  text-transform: uppercase;
}

.nav-items{
  font-size: 18px;
}

.nav-items a:hover, a.active{
  color: #f6b246;
  background-color: white;
  text-decoration: none;
}

.nav-item-left{
  margin-right: 10%;
}

.nav-item-right{
  margin-left: 10%;
}

.container{
  padding-top: 50px;
}

.user-email{
  padding-top: 40px;
  font-size: 16px;
}

.modal .event-info{
  text-align: left;
}

.modal .title{
  font-size: 20px;
}

.row.events .empty, .events{
  margin-top: 55px;
}

.row.events .empty .btn, .new-event{
  margin-top: 35px;
}
